<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="/libs.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin-panel/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
          crossorigin="anonymous"/>
</head>
<body>

<header class="header-wrapper bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h2>Бібліотека++</h2></div>
            <div class="col-md-6 text-right pt-2">
                <a href="" class="logout text-white">Вихід</a>
            </div>
        </div>
    </div>
</header>

<section class="admin-panel container mt-4">
    <div class="admin-panel-inner">
        <div class="admin-panel__table">
            <div class="col-md-12">
                <h2>Таблиця</h2>
                <script class="pattern" type="text/template">
                    <tr>
                        <td class="book_id">{id}</td>
                        <td>
                            <a href="/books/{id}">{title}</a>
                        </td>
                        <td>{author}</td>
                        <td>{year}</td>
                        <td>{date}</td>
                        <td>{clicks}</td>
                        <td>{views}</td>
                        <td><button class="btn btn-danger delete">Видалити</button></td>
                    </tr>
                </script>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Назва</th>
                            <th>Автор(и)</th>
                            <th>Рік виданя</th>
                            <th>Дата завантаження</th>
                            <th>Кліки</th>
                            <th>Перегляди</th>
                            <th>Дія</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>

                <script class="pagination__pattern" type="text/template">
                    <li class="page-item"><a class="page-link" href="" data-offset="{pageOffset}">{pageNumber}</a></li>
                </script>
                <ul class="pagination justify-content-center">
                </ul>
            </div>
        </div>
        <!-- Второй блок -->
        <div class="admin-panel__form row mt-5 mb-5">
            <div class="col-md-12">
                <h2>Додати нову книгу</h2>
                <form action="/admin/api/v1" method="post" enctype="multipart/form-data">
                    <div class="form__inner row">
                        <div class="form-group mr-4">
                            <input type="text" class="form-control mb-3" id="bookTitle" name="book_title" placeholder="Назва книги" required>
                            <input type="text" class="form-control mb-3" id="bookYear" name="book_year" placeholder="Рік видання" required>
                            <div class="custom-file">
                                <input id="customFile" class="custom-file-input" name="book_img" type="file" required >
                                <label class="custom-file-label" for="customFile" id="fileNameDisplay">Виберіть зображення</label>
                            </div>
                            <div id="imagePreview" class="ml-3"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mb-3" name="book_author1" placeholder="Автор1" required>
                            <input type="text" class="form-control mb-3" name="book_author2" placeholder="Автор2">
                            <input type="text" class="form-control mb-3" name="book_author3" placeholder="Автор3">
                            <textarea class="textarea form-control" name="book_description"></textarea>
                        </div>
                    </div>
                    <!-- Добавьте еще инпуты по аналогии -->
                    <button type="submit" class="btn btn-success">Додати</button>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>
<script src="../libs.min.js"></script>
<script src="../common.js"></script>
<script src="../admin-panel/index.js"></script>
</body>
</html>